@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-ExtraLight.eot');
  src: local('TT Smalls Extra Light'), local('TTSmalls-ExtraLight'),
  url('../../../public/fonts/TTSmalls-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-ExtraLight.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-ExtraLight.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-Bold.eot');
  src: local('TT Smalls Bold'), local('TTSmalls-Bold'),
  url('../../../public/fonts/TTSmalls-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-Bold.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-Bold.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-Regular.eot');
  src: local('TT Smalls Regular'), local('TTSmalls-Regular'),
  url('../../../public/fonts/TTSmalls-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-Regular.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-Regular.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-SemiBold.eot');
  src: local('TT Smalls Semi Bold'), local('TTSmalls-SemiBold'),
  url('../../../public/fonts/TTSmalls-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-SemiBold.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-SemiBold.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-Black.eot');
  src: local('TT Smalls Black'), local('TTSmalls-Black'),
  url('../../../public/fonts/TTSmalls-Black.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-Black.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-Black.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-ExtraBold.eot');
  src: local('TT Smalls Extra Bold'), local('TTSmalls-ExtraBold'),
  url('../../../public/fonts/TTSmalls-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-ExtraBold.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-ExtraBold.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Smalls';
  src: url('../../../public/fonts/TTSmalls-Medium.eot');
  src: local('TT Smalls Medium'), local('TTSmalls-Medium'),
  url('../../../public/fonts/TTSmalls-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../public/fonts/TTSmalls-Medium.woff2') format('woff2'),
  url('../../../public/fonts/TTSmalls-Medium.woff') format('woff'),
  url('../../../public/fonts/TTSmalls-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

