.position-list-container {
  position: relative;
  width: 100%;
  max-width: 296px;
  padding-bottom: 63px;
  overflow: hidden;

  &__action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(180deg, rgba(41, 41, 48, 0.00) 0%, #292930 100%);
      z-index: 1;
    }
  }

  &__action-btn {
    width: 100%;
  }
}

.position-list {
  max-height: 600px;
  overflow: auto;
  padding-right: 5px;

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    background-color: var(--black-2);
    border: 2px solid var(--black-2);
    padding: 22px 16px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--active {
      border-color: var(--violet);
    }

    &--shadow {
      box-shadow: 4px 8px 40px 0 rgba(0, 0, 0, 0.40);
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__dnd-icon-box {
    position: relative;
    width: 12px;
    height: 20px;
    background: url("../../../public/images/icons/dnd-icon.svg") no-repeat center;
    background-size: contain;
    cursor: grab;
  }

  &__content {
    text-align: left;
  }

  &__info {
    font-size: 12px;
    font-weight: 600;
    color: var( --gray-1);
    margin-top: 2px;
  }

  &__price {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--gray-1);
  }

  &__total {
    font-weight: 700;
    color: var(--yellow);
    margin-right: 3px;
  }
}
